<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Document history</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./docHistory.css">
</head>

<body>
    <header>
        <div class="company-name">
            <h2> COMPANY.co </h2>
        </div>
        <div class="navigation">
            <a href="/"> Homepage </a>
            <td>
                <a th:if="${loggedIn == false}" href="/login"> Login </a>
                <a th:if="${loggedIn == false}" href="/register"> Register </a>
                <a th:if="${loggedIn == true}" href="/user"> Userpage </a>
                <a th:if="${roleDirector == true}" href="/director"> Director </a>
                <a th:if="${roleEmployee == true}" href="/employee"> Employee </a>
                <a th:if="${roleReviser == true}" href="/reviser"> Reviser </a>
                <a th:if="${roleAccountant == true}" href="/accountant"> Accountant </a>
                <a th:if="${loggedIn == true}" href="/logout"> Logout </a>
            </td>
        </div>
    </header>
    <main>
        <h2>Scanned document history</h2>
        <div class="docs-container">
            <div class="document-link">
                Prvi dokument
            </div>
            <div class="document-link">
                Prvi dokument
            </div>
            <div class="document-link">
                Prvi dokument
            </div>
        </div>
        <div class="button-container">
            <button class="btn">Previous</button>
            <button class="btn">Next</button>
        </div>
    </main>
    <footer>
        <div class="creator-name">
            <h2> @zelenaLipa </h2>
        </div>
    </footer>
</body>

</html>